// search and filter section
#section2{
  height: 6.5rem;
  width: 100%;
  background-color: transparent;

padding: 0 6rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
  form{
    z-index: 8;
    #input{
      width: 25rem;
      height: 2.5rem;
      background-color: $light-gray;
      color: $white;

      border: none;
      outline: none;
      border-radius: 0.3rem;
      z-index: 9;

      
      padding: 0 3rem;
    }
    #input::placeholder{
      color: $white;
    }
    .submit{
       transform: translateX(-200%);
      
    padding: 0.8rem;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    z-index: 10;

      color: $white ;
    }
  }
#drop_down_wraper{
  position: relative;
button{

  @include button-style;

}
button:hover{
 background-color: $light-gray-hover;
}
.fa-chevron-left{
  transform: translateX(-250%);
  color: $white;
  pointer-events: none;
}
.fa-chevron-right{
  transform: translateX(-250%);
  color: $white;
  pointer-events: none;
}
#drop_down{ 
  position: absolute;
  margin-top: 0.3rem;

  width: 12rem ;
height: 12.5rem;

background-color: $light-gray;
color: $white;

transform: translateX(250%); // this is by defolt , js gonna cahnge that on click to block
z-index: 10;
outline: 1px solid white;
transition: all 500ms ease-in;
button{
  @include button-style;
  text-align: left;
  padding-left: 2rem;
}
.region_btn:hover{
background-color: $light-gray-hover;
}
.region_btn:focus{
  background-color: rgb(84, 84, 241);
  }
}
.show{
  transform: translateX(0%) !important;
}
}
}