// font , there is one font only .
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

//colors
$light-gray :  #2B3743;
$light-gray-hover :  #38434e;
$body-gray: #202D36;
$white : white ;

//reset
*{
box-sizing: border-box;
margin: 0;
padding: 0;
// font is same for all elements 
font-family: 'Nunito Sans', sans-serif;


}

//mixins :
// 1. mixin for button styling
@mixin button-style{
  width: 12rem ;
height: 2.5rem;

background-color: $light-gray;
color: $white;

border: none;
outline: none;
border-radius: 0.3rem;

cursor: pointer;
transition: all 400ms ease-out;
box-shadow: 0 0 3px 3px rgba(0,0,0,0.3);
}


body{
  background-color: $body-gray ;

  overflow-x: hidden;
}

// header (completly reusable)
@import './header_section' ;

//part for section where is search bar and filter dropdown many
@import './search_and_filter' ;
//

// main section with cards 
@import './main_section' ;
//