@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Nunito Sans', sans-serif;
}

body {
  background-color: #202D36;
  -webkit-transition: all 300ms linear;
  transition: all 300ms linear;
  overflow-x: hidden;
  overflow-y: scroll;
}

.light1 {
  background-color: #dbdada;
}

header {
  width: 100%;
  height: 4rem;
  background-color: #2B3743;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 15;
  padding: 0 6rem;
  -webkit-box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.3);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: all 300ms linear;
  transition: all 300ms linear;
}

header h3 {
  color: white;
  font-size: 1.5rem;
}

header h4 {
  background-color: transparent;
  padding: 0.8rem;
  cursor: pointer;
  opacity: 0.8;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
  color: white;
}

header h4 .fa-moon {
  margin-right: 1rem;
}

h4:hover {
  opacity: 1;
}

#section2 {
  height: 6.5rem;
  width: 100%;
  background-color: transparent;
  padding: 0 6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#section2 form {
  z-index: 8;
}

#section2 form #input {
  width: 25rem;
  height: 2.5rem;
  background-color: #2B3743;
  color: white;
  border: none;
  outline: none;
  border-radius: 0.3rem;
  z-index: 9;
  -webkit-transition: all 300ms linear;
  transition: all 300ms linear;
  -webkit-box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.3);
  padding: 0 3rem;
}

#section2 form #input::-webkit-input-placeholder {
  color: white;
}

#section2 form #input:-ms-input-placeholder {
  color: white;
}

#section2 form #input::-ms-input-placeholder {
  color: white;
}

#section2 form #input::placeholder {
  color: white;
}

#section2 form #input:focus {
  outline: 1px solid #38434e;
}

#section2 form .submit {
  -webkit-transform: translateX(-200%);
          transform: translateX(-200%);
  padding: 0.5rem;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  z-index: 10;
  color: white;
}

#section2 #drop_down_wraper {
  position: relative;
}

#section2 #drop_down_wraper button {
  width: 12rem;
  height: 2.5rem;
  background-color: #2B3743;
  color: white;
  border: none;
  outline: none;
  border-radius: 0.3rem;
  cursor: pointer;
  -webkit-transition: all 400ms ease-out;
  transition: all 400ms ease-out;
  -webkit-box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.3);
}

#section2 #drop_down_wraper button:hover {
  background-color: #38434e;
}

#section2 #drop_down_wraper .fa-chevron-left {
  margin-left: 1rem;
  color: white;
  pointer-events: none;
}

#section2 #drop_down_wraper .fa-chevron-right {
  margin-left: 1rem;
  color: white;
  pointer-events: none;
}

#section2 #drop_down_wraper #drop_down {
  position: absolute;
  margin-top: 0.3rem;
  width: 12rem;
  height: 12.5rem;
  background-color: #2B3743;
  color: white;
  -webkit-transform: translateX(400%);
          transform: translateX(400%);
  z-index: 10;
  -webkit-box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.3);
  -webkit-transition: all 500ms ease-in;
  transition: all 500ms ease-in;
}

#section2 #drop_down_wraper #drop_down button {
  width: 12rem;
  height: 2.5rem;
  background-color: #2B3743;
  color: white;
  border: none;
  outline: none;
  border-radius: 0.3rem;
  cursor: pointer;
  -webkit-transition: all 400ms ease-out;
  transition: all 400ms ease-out;
  -webkit-box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.3);
  text-align: left;
  padding-left: 2rem;
}

#section2 #drop_down_wraper #drop_down .act {
  background-color: #5454f1;
}

#section2 #drop_down_wraper .show {
  -webkit-transform: translateX(0%) !important;
          transform: translateX(0%) !important;
}

#section2 #refresh {
  width: 12rem;
  height: 2.5rem;
  background-color: #2B3743;
  color: white;
  border: none;
  outline: none;
  border-radius: 0.3rem;
  cursor: pointer;
  -webkit-transition: all 400ms ease-out;
  transition: all 400ms ease-out;
  -webkit-box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.3);
}

#section2 #refresh i {
  margin-left: 1rem;
}

#section2 #refresh:hover {
  background-color: #38434e;
}

#main {
  width: 100%;
  padding: 0 6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#main #slider {
  position: fixed;
  top: 4rem;
  z-index: 11;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100vw;
  height: calc(100vh - 4rem);
  padding: 4rem 6rem;
  -webkit-box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.3);
  background-color: #2B3743;
  -webkit-transition: all 400ms ease-in;
  transition: all 400ms ease-in;
  z-index: 24;
  -webkit-transform: translateX(-110%);
          transform: translateX(-110%);
}

#main #slider span {
  opacity: 0.7;
}

#main #slider h3 {
  margin: 2rem 0;
  color: white;
  font-size: 1.5rem;
}

#main #slider i {
  margin: 0 1rem;
}

#main #slider p {
  margin: 1rem 0;
  color: white;
  font-size: 1rem;
}

#main #slider #img {
  width: 40%;
  height: 70%;
}

#main #slider .description2 {
  -webkit-transform: translateY(2.5rem);
          transform: translateY(2.5rem);
}

#main #slider button {
  width: 12rem;
  height: 2.5rem;
  background-color: #2B3743;
  color: white;
  border: none;
  outline: none;
  border-radius: 0.3rem;
  cursor: pointer;
  -webkit-transition: all 400ms ease-out;
  transition: all 400ms ease-out;
  -webkit-box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.3);
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  position: absolute;
  left: 6rem;
}

#main .no_results {
  width: 400px;
  height: 400px;
  background-color: #2B3743;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 7rem auto;
  padding: 0 2rem;
  -webkit-box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.3);
}

#main .no_results .fa-search {
  font-size: 10rem;
  color: #b6b6b6;
}

#main .no_results .error {
  font-size: 1rem;
  color: #b6b6b6;
}

#main .no_results .hm, #main .no_results .va {
  color: #b6b6b6;
}

#main .no_results .hm {
  font-size: 1.8rem;
  margin: 0.5rem 0;
}

#main .no_results .va {
  margin: 0.5rem 0;
  font-size: 1.3rem;
}

@-webkit-keyframes swing-in-top-fwd {
  0% {
    -webkit-transform: rotateX(-100deg);
    transform: rotateX(-100deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 1;
  }
}

@keyframes swing-in-top-fwd {
  0% {
    -webkit-transform: rotateX(-100deg);
    transform: rotateX(-100deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 1;
  }
}

#main .card {
  position: relative;
  width: 240px;
  margin: 0 1rem;
  margin-bottom: 3rem;
  background-color: #2B3743;
  -webkit-box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.3);
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

#main .swing-in-top-fwd {
  -webkit-animation: swing-in-top-fwd 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) 1s both;
  animation: swing-in-top-fwd 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) 1s both;
}

#main .remove {
  display: none !important;
}

#main .card:hover {
  opacity: 0.85;
}

#main .card:hover .show_more {
  opacity: 1;
}

#main .show_more {
  position: absolute;
  top: 2rem;
  left: 0;
  width: 12rem;
  height: 2.5rem;
  background-color: #2B3743;
  color: white;
  border: none;
  outline: none;
  border-radius: 0.3rem;
  cursor: pointer;
  -webkit-transition: all 400ms ease-out;
  transition: all 400ms ease-out;
  -webkit-box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.3);
  opacity: 0;
}

#main .show_more:hover {
  background-color: #38434e;
}

#main img {
  width: 100%;
  height: 150px;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}

#main #info {
  padding: 0.6rem;
}

#main h4 {
  margin-top: 1rem;
  font-size: 1.2rem;
  color: white;
}

#main ul {
  list-style-type: none;
  padding: 0.7rem;
  padding-top: 0.7rem;
}

#main ul li {
  margin: 0.3rem 0;
}

#main ul li #population, #main ul li #region, #main ul li #capital {
  opacity: 0.8;
}

#main ul li span {
  color: white;
  margin: 0 0.2rem;
}

@media screen and (max-width: 1100px) {
  #main {
    padding: 1.3rem 0rem;
  }
  #main .show_more {
    opacity: 1;
    top: 8rem;
  }
  #main .no_results {
    margin: 0.5rem auto;
    width: 90vw;
  }
  #main .no_results .fa-search {
    font-size: 8rem;
  }
  #main #slider {
    padding: 5rem 2rem 4rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    position: fixed;
  }
  #main #slider h3 {
    margin: 0.8rem 0;
  }
  #main #slider p {
    margin: 0.5rem;
  }
  #main #slider .description2 {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  #main #slider button {
    top: 1.3rem;
    left: 2rem;
  }
  #main #slider #img {
    width: 90%;
    height: 170px;
  }
  #section2 {
    padding: 0.5rem 1rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  #section2 form {
    width: 95vw;
    margin: 0rem auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #section2 form button {
    display: none;
  }
  #section2 form #input {
    width: 290px;
  }
  #section2 #drop_down_wraper {
    width: 192px;
  }
  #input, #refresh, #btn {
    margin: 0.5rem auto;
    width: 90%;
  }
  #header {
    padding: 0 0.2rem;
    margin: 0;
  }
  #header h3, #header h4 {
    margin: 0;
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  #header h3 {
    font-size: 1.1rem;
  }
  .card {
    width: 300px;
  }
}

.light2 {
  background-color: white !important;
  color: #3d3d3d !important;
  -webkit-transition: all 300ms linear !important;
  transition: all 300ms linear !important;
}

.light2 button {
  background-color: white !important;
  color: #3d3d3d !important;
  -webkit-transition: all 300ms linear !important;
  transition: all 300ms linear !important;
}

.light2 #left_right {
  color: #3d3d3d !important;
}

.light2 img {
  border-bottom: 2px solid gray;
}

.light2 h3, .light2 h4, .light2 span, .light2 p {
  color: #3d3d3d !important;
}

.light2 > * {
  -webkit-transition: all 300ms linear;
  transition: all 300ms linear;
}

.light2::-webkit-input-placeholder {
  color: #3d3d3d !important;
}

.light2:-ms-input-placeholder {
  color: #3d3d3d !important;
}

.light2::-ms-input-placeholder {
  color: #3d3d3d !important;
}

.light2::placeholder {
  color: #3d3d3d !important;
}

.act {
  background-color: #5454f1 !important;
  color: white !important;
}

#section2 form .submit {
  background-color: transparent !important;
}
/*# sourceMappingURL=style.css.map */